<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Brooklynn's Creative Space</title>
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/contact">Contact Me</a> |
    <a href="/user/Brooklynn">View My Profile</a>
  </nav>
  <hr>
