<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> | Brooklynn's Creative Space</title>
        <link rel="stylesheet" href="/styles/style.css">
      </head>
      
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/contact">Contact Me</a> |
    <a href="/user/Brooklynn">View My Profile</a>
  </nav>
  <hr>
