<%- include('partials/header') %>
<h1>Welcome to the Home Page</h1>
<p>This is a simple EJS-based Express app.</p>
<p>If you like the EJS image below, download it!</p>

<img src="/images/sample.jpg" alt="Sample Image" width="300" />

<br><br>
<a href="/download"><button>Download Image</button></a>
<%- include('partials/footer') %>